<html>
	<head>
		<meta http-equiv="Constent-Type" content="text/html; charset=utf-8">
		<title>API NewDalhi - Plataforma Paraformal</title>
	</head>
	<body>
		<h1>API New Dalhi</h1>
		<p> <i>Oops! Você não deveria estar aqui!</i>  Esse REST apenas está retornando informações via <b>JSON.</b></p>
		<p>Volte para a <%= link_to "HomePage", controller: "welcome", action:"index"%></p>
		<hr>
		New Dalhi - <%= link_to "Plataforma Paraformal", "http://www.plataformaparaformal.com"%> - <%= Time.now.year %>
	</body>
</html>